@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --color-bg-light: #f4f1ee;
    --color-bg-secondary: #e2d6cf;
    --color-primary: #c8a692;
    --color-secondary: #a67c68;
    --color-text: #59443a;
  }
}

html {
  scroll-behavior: smooth;
}
